<div class="map bg-light">

</div>

<div class="container margin-top-negative">
  <div class="card border mb-3" style="max-width: 65%;">
    <div class="card-body">
      <h5 class="card-title"><%= @flat.name %></h5>
      <p class="card-text"><%= @flat.address %></p>
    </div>
  </div>
</div>

<div class="container margin-top-negative">
  <div class="card border mb-3" style="max-width: 65%;">
    <div class="card-body">
      <h5 class="card-title">A bit more about this flat..</h5>
      <p class="card-text"><%= @flat.description %></p>
    </div>
  </div>
</div>